/* grid-template-columns: auto;
grid-template-rows: 1fr 1fr; */
/* Adjusting for mobile  */
@media (min-width: 768px) {
  .info-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: auto; */
    grid-template-rows: auto;
  }

  .info img {
    margin: 5% 0;
    width: 60%;
    max-height: 40vh;
    border: none;
  }
}
