/* general */
html body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

a.button1 {
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer !important;

  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000000;
  background-color: #FFFFFF;
}
@media all and (max-width:30em) {
  a.button1 {
  display: block;
  margin: 0.4em auto;
  }
}

/* hero */
.hero-image {
  /* width: 100vw; */
  width: 100%;
  height: 80vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-text {
  color: white;
  margin: 0% 10%;
}

/* static backgrounds */
.header-wrapper {
  background-color: #1F0818;
  height: 20vh;
}

.info-container-wrapper {
  background-color: #C25349;
}

/* main containers */
.section-header {
  width: 100%;
  height: 20vh;

  /* Flexbox stuff */
  display: flex;
  align-items: center;
}

.section-header h1 {
  color: #FFF;
  padding-left: 5%;
}

.info-container h1 {
  color: #FFF;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.info {
  color: #FFF;
  text-align: center;
  padding-bottom: 5%;
}

.info img {
  margin: 5% 0;
  width: 60%;
  object-fit: scale-down;
  border: 1.5px solid white;
}

.two-button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  padding: 0 15%;
}

/* footer */
footer {
  text-align: center;
  min-height: 200px;
  width: 100%;
  height: 30vh;
  box-sizing: border-box;
  margin: 0;
  background-color: #333333;
  padding: 5% 5% 15% 5%;
  color: #FFF;
}
footer h3 {
  font-size: 2em;
  font-weight: 550;
  margin: 2% 0;
}
footer span {
  font-size: 1.2em;
}
.fab {
  padding: 15px;
  font-size: 25px;
  color: #FFF
}
.fab:hover {
  color: #D5D5D5;
  text-decoration: none;
}
i {
  max-width: 200px;
}
